matrix:
  include:
   - os: osx
     osx_image: xcode10.1

cache:
  directories:
  - $HOME/.m2
  - $HOME/vcpkg-cache

install:
-|
  if [ ! -d "$HOME/vcpkg-cache" ]; then
   brew install gcc@8
 fi
 git clone https://github.com/Microsoft/vcpkg.git
 cd vcpkg
 if [ -d "$HOME/vcpkg-cache" ]; then
   cp $HOME/vcpkg-cache/vcpkg .
 else
   CC=gcc-8 CXX=g++-8 ./bootstrap-vcpkg.sh
   ./vcpkg integrate install
  fi
  ./vcpkg install restinio:x64-osx

script:
  - cd $HOME && pwd
  - cd native
  - mkdir build
  - cd build
  - CC=clang CXX=clang++ cmake .. -DCMAKE_TOOLCHAIN_FILE=$HOME/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-osx
  - CC=clang CXX=clang++ cmake .. -DCMAKE_BUILD_TYPE=Release
  - CC=clang CXX=clang++ make
  - cp libdakota.dylib ../../src/main/resources/META-INF
  - cd ..
  - cd ..
  - mvn -q -DskipTests package
  - mvn test
  
