matrix:
  include:
     language: java

cache:
  directories:
  - $HOME/.m2

install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -y
  - sudo apt-get install g++-8 -y
  - git clone https://github.com/Microsoft/vcpkg.git
  - cd vcpkg
  - ./bootstrap-vcpkg.sh
  - ./vcpkg integrate install
  - ./vcpkg install restinio:x64-linux
  - cd ..

script:
  - cd native
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_TOOLCHAIN_FILE=/home/travis/build/webfolderio/dakota/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-linux
  - cmake .. -DCMAKE_BUILD_TYPE=Release
  - make
  - strip libdakota.so
  - cp libdakota.so ../../src/main/resources/META-INF