version: 1.0.'{build}'
image: Visual Studio 2017

platform: x64

cache: c:\tools\vcpkg\installed\

environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0

before_build:
  - mkdir C:\tools\vcpkg\ports\restinio-webfolder
  - copy /Y restinio\CONTROL C:\tools\vcpkg\ports\restinio-webfolder\CONTROL
  - copy /Y restinio\portfile.cmake C:\tools\vcpkg\ports\restinio-webfolder\portfile.cmake

build_script:
  - vcpkg.exe install restinio-webfolder:x64-windows-static
  - scripts\build.bat
  - mvn -DskipTests -q clean package

test_script:
  - mvn surefire-report:report

after_test:
  - ps: |
        $wc = New-Object 'System.Net.WebClient'
        Get-ChildItem . -Name -Recurse 'TEST-*.xml'  |
        Foreach-Object {
            $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_))
        }

artifacts:
  - path: target\dakota-1.0.0-SNAPSHOT.jar
    name: dakota library (Windows x64)
