version: 1.0.'{build}'
image: Visual Studio 2015

platform: x64

cache: c:\tools\vcpkg\installed\

environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0

before_build:
  - git --work-tree=C:\tools\vcpkg --git-dir=C:\tools\vcpkg\.git pull

build_script:
  - vcpkg.exe install restinio:x64-windows-static
  - scripts\build.bat
  - mvn -DskipTests -q clean package

test_script:
  - mvn -q surefire-report:report

after_test:
  - ps: |
        $wc = New-Object 'System.Net.WebClient'
        Get-ChildItem . -Name -Recurse 'TEST-*.xml'  |
        Foreach-Object {
            $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_))
        }

artifacts:
  - path: native\build\Release\dakota.dll
    name: dakota x64-windows dll
