version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk-browsers

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install g++7
          command: 'sudo apt-get install g++-7 -y'
      - run:
          name: clone vcpkg
          command: 'git clone https://github.com/Microsoft/vcpkg.git'
      - run:
          name: install vcpkg
          command: 'cd vcpkg && ./bootstrap-vcpkg.sh && ./vcpkg integrate install'

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          - v1-dependencies-

      - run: mvn -q dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
        
      - run: mvn -q surefire-report:report

      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/junit/ \;
          when: always

      - store_test_results:
          path: ~/junit

      - store_artifacts:
          path: ~/junit

      - store_artifacts:
          path: src/main/resources/META-INF/dakota.so
          destination: dakota.so
